{"openapi":"3.0.3","info":{"title":"PostQued API","description":"API v2 for scheduling and publishing content across social platforms (TikTok, Instagram, Facebook, Threads, LinkedIn, YouTube, X/Twitter, Pinterest, Reddit, Mastodon, Bluesky).\n\n## Authentication\n\nMost endpoints require an authenticated session. Authentication is handled by Better Auth and carried via the `better-auth.session_token` session cookie (set after signing in through the dashboard). Send requests with credentials so the cookie is included.\n\n## Workspaces\n\nContent, publishing, analytics, and engagement are scoped to an organization + workspace. Most endpoints accept an optional `workspaceId` to target a specific workspace; when omitted the user's default workspace is used.","version":"2.0.0","contact":{"name":"PostQued","url":"https://postqued.com"}},"servers":[{"url":"https://api.postqued.com","description":"Production server"}],"tags":[{"name":"System","description":"System endpoints"},{"name":"Authentication","description":"User authentication and session"},{"name":"Integrations","description":"Connect and manage social platform accounts"},{"name":"Content","description":"Upload and manage content assets"},{"name":"Publish","description":"Schedule and publish content to platforms"},{"name":"Analytics","description":"Post and video analytics"},{"name":"Engagement","description":"Comments and engagement inbox"},{"name":"Organizations","description":"Organizations and workspaces"},{"name":"API Keys","description":"Manage API keys"},{"name":"Billing","description":"Subscription and billing management"},{"name":"Webhooks","description":"External webhook handlers"}],"paths":{"/v2/ping":{"get":{"summary":"Ping","description":"Health/liveness check. Returns a static payload when the server is up.","tags":["System"],"responses":{"200":{"description":"Server is up","content":{"application/json":{"schema":{"type":"object","properties":{"pong":{"type":"string","example":"it worked!"}}}}}}}}},"/v2/auth/{path}":{"get":{"summary":"Authentication handler","description":"Better Auth handler (sign-in, sign-out, social callbacks, get-session, etc.).","tags":["Authentication"],"parameters":[{"name":"path","in":"path","required":true,"schema":{"type":"string"},"description":"Auth sub-path, e.g. sign-in/social, sign-out, get-session"}],"responses":{"200":{"description":"Auth response"}}},"post":{"summary":"Authentication handler","description":"Better Auth handler for POST flows.","tags":["Authentication"],"parameters":[{"name":"path","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Auth response"}}}},"/v2/me":{"get":{"summary":"Get current session","description":"Returns the authenticated user and session.","tags":["Authentication"],"security":[{"cookieAuth":[]}],"responses":{"200":{"description":"Current session"},"401":{"description":"Unauthorized"}}}},"/v2/integrations":{"get":{"summary":"List connected accounts","description":"Returns social platform accounts connected to the active workspace.","tags":["Integrations"],"security":[{"cookieAuth":[]}],"parameters":[{"name":"workspaceId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Connected accounts","content":{"application/json":{"schema":{"type":"object","properties":{"accounts":{"type":"array","items":{"$ref":"#/components/schemas/PlatformAccount"}}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Workspace access denied"}}},"post":{"summary":"Start OAuth connection","description":"Initiates an OAuth flow for a platform. Returns an authorization URL to redirect the user to.","tags":["Integrations"],"security":[{"cookieAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["platform"],"properties":{"platform":{"type":"string","enum":["tiktok","instagram","facebook","threads","linkedin","youtube","twitter","pinterest","reddit","mastodon","bluesky"],"description":"Platform to connect via OAuth"},"redirectAfter":{"type":"string","description":"Relative app path, or a same-origin Postqued URL, to redirect to after OAuth completes"},"workspaceId":{"type":"string","format":"uuid"}}}}}},"responses":{"200":{"description":"Authorization URL","content":{"application/json":{"schema":{"type":"object","properties":{"authorizationUrl":{"type":"string"}}}}}},"400":{"description":"Unsupported platform or OAuth unavailable","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Workspace access denied"}}}},"/v2/integrations/callback":{"get":{"summary":"OAuth callback","description":"Handles the OAuth redirect from a platform. Called by the platform, not the client. Redirects back to the frontend.","tags":["Integrations"],"parameters":[{"name":"code","in":"query","required":false,"schema":{"type":"string"}},{"name":"state","in":"query","required":false,"schema":{"type":"string"}},{"name":"error","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"302":{"description":"Redirect to frontend"}}}},"/v2/integrations/bluesky/session":{"post":{"summary":"Connect Bluesky account","description":"Connects a Bluesky account using a handle/identifier and an app password (Bluesky has no OAuth).","tags":["Integrations"],"security":[{"cookieAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["identifier","appPassword"],"properties":{"identifier":{"type":"string","description":"Bluesky handle, e.g. user.bsky.social"},"appPassword":{"type":"string","description":"Bluesky app password"},"workspaceId":{"type":"string","format":"uuid"}}}}}},"responses":{"200":{"description":"Account connected","content":{"application/json":{"schema":{"type":"object","properties":{"accountId":{"type":"string","format":"uuid"}}}}}},"400":{"description":"Missing credentials","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}}}}}},"401":{"description":"Unauthorized"},"409":{"description":"Account already connected to another workspace","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}}}}}}}}},"/v2/integrations/{id}":{"delete":{"summary":"Disconnect account","description":"Disconnects a connected platform account.","tags":["Integrations"],"security":[{"cookieAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"},"description":"Platform account ID"},{"name":"workspaceId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Account disconnected","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Workspace access denied"}}}},"/v2/integrations/{id}/creator-info":{"get":{"summary":"TikTok creator info","description":"Returns TikTok creator info (privacy options, interaction limits) for a connected TikTok account. Required before direct TikTok publishing.","tags":["Integrations"],"security":[{"cookieAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"workspaceId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Creator info"},"401":{"description":"Unauthorized"},"403":{"description":"Workspace access denied"},"404":{"description":"Account not found"}}}},"/v2/integrations/{id}/reddit/subreddits":{"get":{"summary":"Search subreddits","description":"Searches subreddits for a connected Reddit account.","tags":["Integrations"],"security":[{"cookieAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"query","in":"query","required":false,"schema":{"type":"string"},"description":"Search term"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":10}},{"name":"workspaceId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Matching subreddits"},"401":{"description":"Unauthorized"},"403":{"description":"Workspace access denied"}}}},"/v2/integrations/{id}/reddit/restrictions":{"get":{"summary":"Subreddit posting restrictions","description":"Returns posting restrictions (allowed post types, flair requirements) for a subreddit.","tags":["Integrations"],"security":[{"cookieAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"subreddit","in":"query","required":true,"schema":{"type":"string"}},{"name":"workspaceId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Subreddit restrictions"},"400":{"description":"Missing subreddit","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Workspace access denied"}}}},"/v2/integrations/{id}/linkedin/companies":{"get":{"summary":"Search LinkedIn companies","description":"Searches LinkedIn organization pages the connected account can post as.","tags":["Integrations"],"security":[{"cookieAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"query","in":"query","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":10}},{"name":"workspaceId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Matching companies"},"401":{"description":"Unauthorized"},"403":{"description":"Workspace access denied"}}}},"/v2/integrations/{id}/pinterest/boards":{"get":{"summary":"List Pinterest boards","description":"Lists boards for a connected Pinterest account.","tags":["Integrations"],"security":[{"cookieAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":50}},{"name":"workspaceId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Boards"},"401":{"description":"Unauthorized"},"403":{"description":"Workspace access denied"}}}},"/v2/content":{"get":{"summary":"List content","description":"Returns ready content assets in the active workspace. Page-based pagination.","tags":["Content"],"security":[{"cookieAuth":[]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1}},{"name":"perPage","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":60,"default":24}},{"name":"search","in":"query","required":false,"schema":{"type":"string"},"description":"Filter by filename"},{"name":"mediaType","in":"query","required":false,"schema":{"type":"string","enum":["all","image","video"]}},{"name":"workspaceId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Paginated content","content":{"application/json":{"schema":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/ContentAsset"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Workspace access denied"}}}},"/v2/content/upload":{"post":{"summary":"Start upload","description":"Creates a content asset and returns a presigned URL. PUT your file to the URL, then call /v2/content/upload/complete.","tags":["Content"],"security":[{"cookieAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["filename","contentType"],"properties":{"filename":{"type":"string","example":"video.mp4"},"contentType":{"type":"string","description":"Allowed image/video MIME type","example":"video/mp4"},"fileSize":{"type":"integer","description":"Bytes. Validated against limits (4GB video / 20MB image)."},"workspaceId":{"type":"string","format":"uuid"}}}}}},"responses":{"200":{"description":"Upload session created","content":{"application/json":{"schema":{"type":"object","properties":{"contentId":{"type":"string","format":"uuid"},"upload":{"type":"object","properties":{"url":{"type":"string","description":"Presigned URL — PUT the file here"},"key":{"type":"string","description":"Storage key — pass to /upload/complete"},"method":{"type":"string","example":"PUT"},"headers":{"type":"object","properties":{"Content-Type":{"type":"string"}}}}}}}}}},"400":{"description":"Invalid request or file too large","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Workspace access denied"}}}},"/v2/content/upload/complete":{"post":{"summary":"Complete upload","description":"Finalizes an upload and marks the asset ready. For images the server validates the signature, normalizes format, and enforces TikTok dimension limits.","tags":["Content"],"security":[{"cookieAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["contentId","key","filename","contentType"],"properties":{"contentId":{"type":"string","format":"uuid","description":"From /upload"},"key":{"type":"string","description":"Storage key from /upload"},"filename":{"type":"string"},"contentType":{"type":"string"},"workspaceId":{"type":"string","format":"uuid"},"size":{"type":"integer"},"width":{"type":"integer"},"height":{"type":"integer"},"durationMs":{"type":"integer","description":"Video duration in ms"}}}}}},"responses":{"200":{"description":"Asset ready","content":{"application/json":{"schema":{"type":"object","properties":{"content":{"$ref":"#/components/schemas/ContentAsset"}}}}}},"400":{"description":"Invalid request, type mismatch, or dimensions too large","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Workspace access denied"},"404":{"description":"Content or uploaded file not found"}}}},"/v2/content/{contentId}":{"get":{"summary":"Get content","description":"Returns a single ready content asset.","tags":["Content"],"security":[{"cookieAuth":[]}],"parameters":[{"name":"contentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"workspaceId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Content asset","content":{"application/json":{"schema":{"type":"object","properties":{"content":{"$ref":"#/components/schemas/ContentAsset"}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Workspace access denied"},"404":{"description":"Content not found"}}},"patch":{"summary":"Update content","description":"Updates a content asset's filename and/or alt text.","tags":["Content"],"security":[{"cookieAuth":[]}],"parameters":[{"name":"contentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"filename":{"type":"string"},"alt":{"type":"string","maxLength":500},"workspaceId":{"type":"string","format":"uuid"}}}}}},"responses":{"200":{"description":"Updated asset","content":{"application/json":{"schema":{"type":"object","properties":{"content":{"$ref":"#/components/schemas/ContentAsset"}}}}}},"400":{"description":"Invalid or empty update","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Workspace access denied"},"404":{"description":"Content not found"}}},"delete":{"summary":"Delete content","description":"Soft-deletes a content asset.","tags":["Content"],"security":[{"cookieAuth":[]}],"parameters":[{"name":"contentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"workspaceId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Workspace access denied"},"404":{"description":"Content not found"}}}},"/v2/content/{contentId}/file":{"get":{"summary":"Download content file","description":"Streams the raw file bytes for a ready content asset.","tags":["Content"],"security":[{"cookieAuth":[]}],"parameters":[{"name":"contentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"workspaceId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"File bytes","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Workspace access denied"},"404":{"description":"Content not found"}}}},"/v2/publish":{"get":{"summary":"List publish requests","description":"Returns publish requests for the active workspace, optionally filtered by a date range. startDate and endDate must be provided together.","tags":["Publish"],"security":[{"cookieAuth":[]}],"parameters":[{"name":"startDate","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endDate","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"workspaceId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Publish requests"},"400":{"description":"Invalid date range","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}}}}}},"401":{"description":"Unauthorized"}}},"post":{"summary":"Create publish request","description":"Publishes (or schedules) content to one or more platform targets.\n\n**Idempotency:** Send an `Idempotency-Key` header (required unless `dryRun` is true). Reusing a key with a different body returns 409.\n\n**Scheduling:** Set each target's `dispatchAt` to a future ISO timestamp to schedule, or `null` for immediate.\n\n**Per-platform options:** Each target carries a `platform` discriminator and a platform-specific `options` object (TikTok, Instagram, Facebook, Threads, LinkedIn, YouTube, X/Twitter, Pinterest, Reddit, Mastodon, Bluesky).","tags":["Publish"],"security":[{"cookieAuth":[]}],"parameters":[{"name":"Idempotency-Key","in":"header","required":false,"schema":{"type":"string"},"description":"Required unless dryRun is true"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishRequest"}}}},"responses":{"200":{"description":"Publish request created (or cached idempotent response)"},"400":{"description":"Validation error or missing Idempotency-Key","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Workspace access denied"},"409":{"description":"Idempotency conflict","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}}}}}}}}},"/v2/publish/{publishId}":{"get":{"summary":"Get publish status","description":"Returns a publish request and the status of each target.","tags":["Publish"],"security":[{"cookieAuth":[]}],"parameters":[{"name":"publishId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"workspaceId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Publish status"},"401":{"description":"Unauthorized"},"403":{"description":"Workspace access denied"},"404":{"description":"Publish request not found"}}},"delete":{"summary":"Delete publish request","description":"Soft-deletes a publish request.","tags":["Publish"],"security":[{"cookieAuth":[]}],"parameters":[{"name":"publishId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"workspaceId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Deleted"},"401":{"description":"Unauthorized"},"403":{"description":"Workspace access denied"},"404":{"description":"Publish request not found"}}}},"/v2/publish/{publishId}/cancel":{"post":{"summary":"Cancel publish request","description":"Cancels a pending or scheduled publish request. Targets already processing or completed cannot be canceled.","tags":["Publish"],"security":[{"cookieAuth":[]}],"parameters":[{"name":"publishId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"workspaceId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Canceled"},"401":{"description":"Unauthorized"},"403":{"description":"Workspace access denied"},"404":{"description":"Publish request not found"}}}},"/v2/publish/target/{targetId}/cancel":{"post":{"summary":"Cancel a single target","description":"Cancels one target within a publish request.","tags":["Publish"],"security":[{"cookieAuth":[]}],"parameters":[{"name":"targetId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"workspaceId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Target canceled"},"401":{"description":"Unauthorized"},"403":{"description":"Workspace access denied"},"404":{"description":"Target not found"}}}},"/v2/publish/target/{targetId}":{"patch":{"summary":"Reschedule a target","description":"Updates a target's dispatch time. Set dispatchAt to a future ISO timestamp to reschedule, or null to publish immediately.","tags":["Publish"],"security":[{"cookieAuth":[]}],"parameters":[{"name":"targetId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["dispatchAt"],"properties":{"dispatchAt":{"type":"string","format":"date-time","nullable":true},"workspaceId":{"type":"string","format":"uuid"}}}}}},"responses":{"200":{"description":"Target rescheduled"},"400":{"description":"Invalid dispatchAt","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Workspace access denied"},"404":{"description":"Target not found"}}}},"/v2/analytics/posts":{"get":{"summary":"Post analytics","description":"Aggregated post analytics (TikTok only at present) for the active workspace.","tags":["Analytics"],"security":[{"cookieAuth":[]}],"parameters":[{"name":"accountId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":50}},{"name":"range","in":"query","required":false,"schema":{"type":"string","enum":["week","month","all"],"default":"month"}},{"name":"workspaceId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Post analytics"},"400":{"description":"Invalid query","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}}}}}},"401":{"description":"Unauthorized"}}}},"/v2/analytics/videos":{"get":{"summary":"Video analytics","description":"Per-video analytics (TikTok only) for a single account. Cursor paginated.","tags":["Analytics"],"security":[{"cookieAuth":[]}],"parameters":[{"name":"accountId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"cursor","in":"query","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":20,"default":20}},{"name":"range","in":"query","required":false,"schema":{"type":"string","enum":["week","month","all"],"default":"week"}},{"name":"workspaceId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Video analytics"},"400":{"description":"Invalid query","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Workspace access denied"},"404":{"description":"Account not found"}}}},"/v2/engagement":{"get":{"summary":"Engagement inbox","description":"Returns published targets with their latest comments and first-comment status for the active workspace.","tags":["Engagement"],"security":[{"cookieAuth":[]}],"parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":50}},{"name":"workspaceId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Engagement items","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object"}}}}}}},"400":{"description":"Invalid query","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}}}}}},"401":{"description":"Unauthorized"}}}},"/v2/organizations/context":{"get":{"summary":"Get active context","description":"Returns the active organization/workspace IDs and the organizations the user belongs to.","tags":["Organizations"],"security":[{"cookieAuth":[]}],"responses":{"200":{"description":"Active context","content":{"application/json":{"schema":{"type":"object","properties":{"activeOrganizationId":{"type":"string"},"activeWorkspaceId":{"type":"string"},"organizations":{"type":"array","items":{"type":"object"}}}}}}},"401":{"description":"Unauthorized"}}}},"/v2/organizations":{"post":{"summary":"Create organization","tags":["Organizations"],"security":[{"cookieAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","minLength":1,"maxLength":100}}}}}},"responses":{"201":{"description":"Organization created"},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}}}}}},"401":{"description":"Unauthorized"}}}},"/v2/organizations/{organizationId}/workspaces":{"post":{"summary":"Create workspace","tags":["Organizations"],"security":[{"cookieAuth":[]}],"parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","minLength":1,"maxLength":100}}}}}},"responses":{"201":{"description":"Workspace created"},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Organization access denied"}}}},"/v2/api-keys":{"get":{"summary":"List API keys","description":"Lists API keys for the active organization (prefix only, never the full key).","tags":["API Keys"],"security":[{"cookieAuth":[]}],"responses":{"200":{"description":"API keys","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiKey"}}}}},"401":{"description":"Unauthorized"}}},"post":{"summary":"Create API key","description":"Creates an API key. The full key is returned once on creation — store it securely.","tags":["API Keys"],"security":[{"cookieAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","minLength":1,"maxLength":100}}}}}},"responses":{"201":{"description":"API key created","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"keyPrefix":{"type":"string","example":"pq_a1b2c3d4"},"key":{"type":"string","description":"Full key — shown once"},"createdAt":{"type":"string","format":"date-time"}}}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}}}}}},"401":{"description":"Unauthorized"}}}},"/v2/api-keys/{id}":{"delete":{"summary":"Revoke API key","tags":["API Keys"],"security":[{"cookieAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Revoked","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"}}}}}},"401":{"description":"Unauthorized"},"404":{"description":"API key not found"}}}},"/v2/billing":{"get":{"summary":"Get subscription status","tags":["Billing"],"security":[{"cookieAuth":[]}],"responses":{"200":{"description":"Subscription status"},"401":{"description":"Unauthorized"}}}},"/v2/billing/checkout":{"post":{"summary":"Create checkout session","description":"Creates a checkout session and returns a URL to redirect the user to.","tags":["Billing"],"security":[{"cookieAuth":[]}],"responses":{"200":{"description":"Checkout URL","content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string"}}}}}},"401":{"description":"Unauthorized"}}}},"/v2/billing/portal":{"post":{"summary":"Open billing portal","description":"Creates a billing portal session and returns a URL to redirect the user to.","tags":["Billing"],"security":[{"cookieAuth":[]}],"responses":{"200":{"description":"Portal URL","content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string"}}}}}},"401":{"description":"Unauthorized"}}}},"/v2/webhooks/tiktok":{"post":{"summary":"TikTok webhook","description":"Receives TikTok webhook events. Called by TikTok, not clients.","tags":["Webhooks"],"responses":{"200":{"description":"Processed"}}}},"/v2/webhooks/meta/deauthorize":{"post":{"summary":"Meta deauthorize callback","description":"Facebook/Instagram app deauthorization callback. Called by Meta.","tags":["Webhooks"],"responses":{"200":{"description":"Processed"}}}},"/v2/webhooks/meta/data-deletion":{"post":{"summary":"Meta data deletion callback","description":"Facebook/Instagram data deletion request callback. Called by Meta.","tags":["Webhooks"],"responses":{"200":{"description":"Processed"}}}},"/v2/webhooks/threads/deauthorize":{"post":{"summary":"Threads deauthorize callback","description":"Threads app deauthorization callback. Called by Meta.","tags":["Webhooks"],"responses":{"200":{"description":"Processed"}}}},"/v2/webhooks/threads/data-deletion":{"post":{"summary":"Threads data deletion callback","description":"Threads data deletion request callback. Called by Meta.","tags":["Webhooks"],"responses":{"200":{"description":"Processed"}}}}},"components":{"schemas":{"PlatformAccount":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"platform":{"type":"string","enum":["tiktok","instagram","facebook","threads","linkedin","youtube","twitter","pinterest","reddit","mastodon","bluesky"]},"externalAccountId":{"type":"string"},"username":{"type":"string"},"displayName":{"type":"string","nullable":true},"avatarUrl":{"type":"string","nullable":true},"accountStatus":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"ContentAsset":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"url":{"type":"string"},"mediaType":{"type":"string","enum":["video","image"]},"mimeType":{"type":"string","nullable":true},"filename":{"type":"string","nullable":true},"size":{"type":"integer","nullable":true},"width":{"type":"integer","nullable":true},"height":{"type":"integer","nullable":true},"durationMs":{"type":"integer","nullable":true},"status":{"type":"string","enum":["processing","ready","deleted","failed"]},"createdAt":{"type":"string","format":"date-time"}}},"PublishRequest":{"type":"object","required":["contentIds","targets"],"properties":{"contentIds":{"type":"array","items":{"type":"string","format":"uuid"},"maxItems":35,"description":"Content asset IDs. 1 for a single post, or 2–35 for a carousel."},"targets":{"type":"array","minItems":1,"maxItems":10,"items":{"$ref":"#/components/schemas/PublishTarget"}},"dryRun":{"type":"boolean","default":false,"description":"Validate without publishing (no Idempotency-Key required)."},"workspaceId":{"type":"string","format":"uuid"}}},"PublishTarget":{"type":"object","required":["platform","accountId","intent","caption","dispatchAt"],"description":"Discriminated by `platform`. `options` shape depends on the platform.","properties":{"platform":{"type":"string","enum":["tiktok","instagram","facebook","threads","linkedin","youtube","twitter","pinterest","reddit","mastodon","bluesky"]},"accountId":{"type":"string","format":"uuid"},"intent":{"type":"string","enum":["draft","publish"],"description":"draft = save/send to inbox; publish = post directly"},"caption":{"type":"string","minLength":1,"maxLength":63206},"dispatchAt":{"type":"string","format":"date-time","nullable":true,"description":"Future ISO timestamp to schedule, or null for immediate"},"options":{"type":"object","description":"Platform-specific options. Examples: TikTok { privacyLevel, disableComment, disableDuet, disableStitch, autoAddMusic, videoCoverTimestampMs, photoCoverIndex, brandContentToggle, brandOrganicToggle }; YouTube { visibility, title, description, categoryId, tags, madeForKids, containsSyntheticMedia }; Reddit { subreddit, kind, title, text, url, flairId, nsfw, spoiler }; Pinterest { boardId, title, description, link, altText }; Instagram { postType, collaborators, firstComment }; LinkedIn { postType, articleUrl, articleTitle }; Threads/Twitter/Mastodon/Facebook reply & first-comment controls.","additionalProperties":true}}},"Pagination":{"type":"object","properties":{"page":{"type":"integer"},"perPage":{"type":"integer"},"total":{"type":"integer"},"pages":{"type":"integer"}}},"ApiKey":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"keyPrefix":{"type":"string","example":"pq_a1b2c3d4"},"lastUsedAt":{"type":"string","format":"date-time","nullable":true},"expiresAt":{"type":"string","format":"date-time","nullable":true},"createdAt":{"type":"string","format":"date-time"}}}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"better-auth.session_token","description":"Better Auth session cookie, set after signing in."}}}}